
.icon-activity:before { content: '\e800'; } /* '' */
.icon-array:before { content: '\e801'; } /* '' */
.icon-clients:before { content: '\e802'; } /* '' */
.icon-filter:before { content: '\e803'; } /* '' */
.icon-graph:before { content: '\e804'; } /* '' */
.icon-health:before { content: '\e805'; } /* '' */
.icon-setting:before { content: '\e806'; } /* '' */
.icon-sycle:before { content: '\e807'; } /* '' */
